<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>my web page</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, eligendi. Dignissimos, consectetur expedita? Quae quis ut minus dolorem ea necessitatibus repellat sequi odio, quisquam, beatae laborum, nisi sapiente sint maxime!</p>
</body>
</html>